{% extends "layout.html" %}

{% block content %}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Blog</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="static/css/styles.css" rel="stylesheet" />
</head>

<body>
    <div class="text-center">
        <!-- Responsive navbar-->
        <nav class="texte-center navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Mi Historia</a>
                <div class="collapse text-center" id="navbarSupportedContent">
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row text">
                <div class="texte-center">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Bienvenidos a mi historia!</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Publicado el enero 29, 2022 por Andy P.</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded"
                                src="https://scontent.fgye4-1.fna.fbcdn.net/v/t39.30808-6/272025229_1608903689446299_7458219477801372515_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeEs46g5xkipTZmV8p4NhjUBzTsjGkC0PTTNOyMaQLQ9NHSgox8DKG-5qmOuGlKsS3GZNHn-gpfVtFhIPhrWGUHW&_nc_ohc=yfhAK-lz5loAX8dfhGP&tn=2Kbx_Twgz_QHzc0q&_nc_ht=scontent.fgye4-1.fna&oh=00_AT-J4GFrTMbOinqPzstcGFUf2ldV8Ovsxjix3HBfJ1Crsg&oe=620EB59C"
                                width="500">
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5 texte-center">
                            <p class="fs-6 mb-5">Todo comenzo hace 6 años, fue un día donde iniciaban las clases
                                matutinas. Nos reunieron a todos los del curso 10mo "F" ,
                                donde empezaría una historia que no tuvo final. Me había sentado adelante dándole la
                                espalda a todos, de repente escuché una niña quejarse
                                y quice hacerme "el héroe", le dije al muchacho que la molestaba ¡Oye dejala tranquila!
                                . Fue ahí cuando por primera vez nos miramos (ella no me miró muy bonito,
                                pero luego si que lo haría). Pasaron los días, semanas y tenía tantas ganas de hablarle,
                                pero era muy vergonzoso.
                                Así que acudí a unos compañeros del curso para que le digan a ella que me gustaba. Hasta
                                que ella me permitió darle un beso y sucedió lo que ahora es un divertido
                                recuerdo, pues al momento de acercar nuestros labios sin querer la empuje contra la
                                pared y se golpeó la cabeza. Fuimos novios por un mes y decidió que nos demos un
                                tiempo porque yo no sabía mucho de relaciones, además tan solo éramos unos niños; pero,
                                no volvimos , me cambié de colegio y la volví a ver después de dos años en su
                                cumpleaños número 16. Volvimos a conversar, salimos al cine y en un viaje a la playa
                                junto a su familia le pedí ser mi novia. Todo fue bonito, pero no sabía controlar
                                mis celos. Así, al 7mo mes terminamos. Pasaron los años y seguíamos escribiendo de vez
                                en cuando porque ella trataba de mantener distancia y cuando me dejaba de hablar le
                                preguntaba a la hermana o prima sobre ella sin que sepa y traté de estar presente en la
                                mayoría de sus cumpleaños. Ella y yo tuvimos otras
                                personas en nuestras vidas; sin embargo, a mitad del año 2021 pudimos hablar en persona,
                                pues
                                nuestras familias se llevan muy bien y fue un factor para acercarnos una vez más.
                                Nos dimos cuenta que los sentimientos nunca se habían ido, solo estaban retenidos.
                                Fuimos a una 15ñera y se me acercó a preguntarme algo, fue entonces que nos quedamos
                                mirando con el mismo amor que se desbordaba en nuestras miradas hace 6 años. Salíamos
                                más seguido, la invitaba a comer, a hacer cosas juntos.
                                A pasar del tiempo le propuse que sea mi novia, claro que después de ese lapso tendría
                                que decirle
                                al padre para que nos permitiera estar juntos. Una tarde me decidí por comentarle al
                                padre sobre lo de nosotros ( el es una persona de pocos amigos,
                                asi que tenía miedo a que me aleja de ella). Momento después de hablar con el, estaba yo
                                ansioso por
                                la respuesta y cuando escuché "Yo solo quiero que usted la respete" me sentí
                                aliviado, de la emoción me fui de inmediado a mi casa para comentarle a mi querida sobre
                                lo que dijo.
                                Cabe recalcar que todos estos años me han servido para mejorar, para cambiar actitudes
                                que le molestaban años atrás. Le he demostrado que solo quiero hacerla feliz, mi
                                propósito es casarme con ella y se lo demostré en un picnic romántico como lo pueden
                                apreciar en la imagen, junto con un anillo promesa diciéndole arrodillado a sus ojos
                                "prometo cambiar este anillo de promesa por uno de compromiso, te amo". 
                            </p>

                        </section>
                    </article>
                </div>
            </div>
            <!-- Footer-->
            <footer class="py-1 bg-dark">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; Andy P. 2022</p>
                </div>
            </footer>
        </div>
    </div>
</body>

</html>
{% endblock %}