{% extends "layout.html" %}

{% block content %}
  <div class="left jumbotron">
    <h1 class="display-4">!Bienvenido(a) Parejas!</h1>
    <p class="lead">Relatanos esa historia de amor que terminó en un final feliz o quizás no pudo haber sido así y tomó otro rumbo.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{{ url_for('comenzar') }}" role="button">Comenzar</a>
    </p>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  </div>


<div class="container mt-5">
  <figure class="mb-4"><img class="img-fluid rounded"
      src="https://scontent.fgye4-1.fna.fbcdn.net/v/t39.30808-6/271766557_1608318179504850_2946965954874333010_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeF-RfDOB3l-CrvUMp8UJsCOwMbe0iTKO_XAxt7SJMo79WJXx4Hpi1E46vRbLTkPr7CNHl_eWS6UrtFSBHNhvmky&_nc_ohc=4Lk74ENuukIAX-yzG6R&_nc_ht=scontent.fgye4-1.fna&oh=00_AT8VhaRL3JcM_7XwUaQSOT2V1iqXHIPw2jrMHUMYgJ0e4g&oe=620F8B27"
      width="500"></figure>
  <h5>Andy&Nayeli.</h5>
  </figcaption>
  <h5>Un amor fuerte y único que siempre estuvo unido por un hilo rojo.</h5>
  </figcaption>
  <h5>Desde 2016 hasta la eternidad.</h5>
  </figcaption>
  <h5>🎆</h5>
  <h5>Autor: Andy P.<h5>
      </figcaption>
</div>
{% endblock %}